:root {
  --my-primary: #1abc9c;
  --my-medium: #3a546d;
  --my-dark: #2c3e50;
  --my-white: #ffffff;
}

.t_darker {
  color: var(--my-dark);
}

.t_primary {
  color: var(--main);
}

.bg_primary {
  background-color: var(--my-primary);
}

.bg_dark {
  background-color: var(--my-medium);
}

.bg_darker {
  background-color: var(--my-dark);
}

/* #region Debug */

/* .debug * {
  outline: 1px dashed black;
}

.debug #app_header *,
.debug #jumbo *,
.debug #footer_bottom * {
  height: 100%;
}

.debug #footer_top{
  height: 50px;
}

.debug #jumbo {
  height: 600px;
}

.debug #portfolio .col {
  height: 250px;
}

.debug #about .row *{
    height: 250px;
} */

/* #endregion Debug */

/* #region Header */

#app_header,
div#offcanvasNavbar{
    background-color: var(--my-dark);
}

.custom_toggler {
    border-color: var(--my-white);
}

/* #endregion Header */

/* #region Main */

#jumbo, #about {
  background-color: var(--my-primary);
}

/* #endregion Main */

/* #region Footer */

#footer_bottom{
   background-color: var(--my-dark);
}

/* #endregion Footer */